[Unit]
Description=Pipe PoP Node
After=network.target

[Service]
User=root
WorkingDirectory=/home/karo/Workspace/PipeNetwork
ExecStart=/home/karo/Workspace/PipeNetwork/start_pipe_pop.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 