[Unit]
Description=Pipe PoP Node
After=network.target

[Service]
User=karo
WorkingDirectory=/home/karo/Workspace/PipeNetwork
ExecStart=/home/karo/Workspace/PipeNetwork/bin/pipe-pop --cache-dir /home/karo/Workspace/PipeNetwork/cache --pubKey H6sA2GwmppUTWHW7NAhw66NBDi9Bh7LvmGTJ6CUQU5e8
Restart=on-failure
RestartSec=10
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target 