[Unit]
Description=Pipe PoP Node
After=network.target

[Service]
User=karo
WorkingDirectory=/home/karo/Workspace/PipeNetwork
ExecStart=/home/karo/Workspace/PipeNetwork/bin/pipe-pop --cache-dir /home/karo/Workspace/PipeNetwork/cache --config=/home/karo/Workspace/PipeNetwork/config/config.json
Restart=on-failure
RestartSec=10
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target 