[Unit]
Description=Pipe Network PoP Node (PPN)
After=network.target

[Service]
User=root
WorkingDirectory=/home/karo/Workspace/PipeNetwork
ExecStart=/home/karo/Workspace/PipeNetwork/start_ppn.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 