[Unit]
Description=Pipe Network PoP Node
After=network.target

[Service]
Type=simple
User=karo
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStart=/opt/pipe-pop/bin/pipe-pop --pubKey H6sA2GwmppUTWHW7NAhw66NBDi9Bh7LvmGTJ6CUQU5e8 --ram 8 --max-disk 500 --cache-dir /data --enable-80-443
Restart=always
RestartSec=10
WorkingDirectory=/opt/pipe-pop
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target 